extends ../includes/page/page

block content
  - const themeColor = '#c3cbe9'
  
  .tests
    section.spread.bg_blue
      .spread__half
        .spread__text-block.spread__text-block_sb
          h2.heading Анализы
          div
            p #{misc.sentence}
            p #{misc.sentence}
            p #{misc.sentence}
          a(href="").button.button_default_light Сдать анализы          
      .spread__half    
        .spread__text-block.spread__text-block_sb
          div
            h3.subheading #{misc.word}
            p #{misc.paragraph}
          div
            h3.subheading #{misc.word}
            p #{misc.paragraph}
          div
            h3.subheading #{misc.word}
            p #{misc.paragraph}

    section.spread.bg_white
      .spread__half
        include ../includes/info-block-menu/info-block-menu
        +info-block-menu(infoBlock, 'tests__info-block')
      .spread__half
        include ../includes/price-list-item/price-list-item
        +price-list-item(testPrices, false, 'tests__price-list-item')    

    include ../includes/section-search/section-search
    +section-search('Поиск по анализам', 'Введите нечто', 'Найти', themeColor)

    .bg_blue
      include ../includes/choose-clinic/choose-clinic
    .content-centered
      include ../includes/article/article
    .bg_blue
      include ../includes/section-links/section-links