.tests {
  &__intro {
    background-color: $brand-blue;
  }
  &__price-list-item {
    padding: 30px;
    .price-list-item__list-item {
      border-bottom-color: $brand-blue;
    }
  }
  &__info-block {
    .info-block-menu__link_selected {
      @include link-bg-color(lighten($brand-blue, 3%))
      color: white
    }
  }
}