$max-slider-img-width: 1000px;

.slider {
  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    // background-color: $brand-gray;
  }
  &__heading {
    margin-bottom: 0;
    padding: 20px 0;
    text-align: center;
    color: white;
  }
  &__nav {
    height: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 20px;
    left: 0;
    top: 50%;
    transform: translateY(- $slider-nav-height / 2);
    width: 100%;
    z-index: $zi-slider-nav;
    .owl-prev,
    .owl-next {
      height: $slider-nav-height;
      width: 45px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0.5;
      &:hover {
        cursor: pointer;
        opacity: 1;
        transition: 0.2s;
      }
    }
    .owl-prev {
      background-image: $icon-arrow-left-white;
    }
    .owl-next {
      background-image: $icon-arrow-right-white;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: $max-slider-img-width;
  }
}

@media screen and (min-width: $max-slider-img-width) {
  .slider {
    &__nav {
      .owl-prev {
        background-image: $icon-arrow-left;
      }
      .owl-next {
        background-image: $icon-arrow-right;
      }
    }
  }
}