mixin slider(containerClass, sliderClass, navClass, title=false, bgc="transparent", dotsClass)
  if title
    h2.heading.slider__heading(class=`${titleClass}` style=`background-color: ${bgc}`)= title
  .slider__container(class=`${containerClass}`)
    .owl-carousel.owl-theme.slider(class=`${sliderClass}`)
      block
    .slider__nav(class=`${navClass}`)
    if dotsClasss
      .slider__dots(class=`${dotsClass}`)
