.mosaic-grid
  .mosaic-grid-level
    .mosaic-grid__col
      .mosaic-grid-item.mosaic-grid-item_lg.mosaic-grid-item_1
        a.mosaic-grid-item__link(href=`${services[0].link}`)
          .container-flex.container-flex_col-center
            .mosaic-grid-item__link-icon(class=`icon_${services[0].icon}`)
            .mosaic-grid-item__link-text #{services[0].title}
    .mosaic-grid__col
      .mosaic-grid-item.mosaic-grid-item_md.mosaic-grid-item_2
        a.mosaic-grid-item__link(href=`${services[1].link}`)
          .container-flex.container-flex_col-center
            .mosaic-grid-item__link-icon(class=`icon_${services[1].icon}`)
            .mosaic-grid-item__link-text #{services[1].title}
      .mosaic-grid-item.mosaic-grid-item_md.mosaic-grid-item_3
        a.mosaic-grid-item__link(href=`${services[2].link}`)
          .container-flex.container-flex_col-center
            .mosaic-grid-item__link-icon(class=`icon_${services[2].icon}`)
            .mosaic-grid-item__link-text #{services[2].title}
    .mosaic-grid__col
      .mosaic-grid-item.mosaic-grid-item_md.mosaic-grid-item_4
        a.mosaic-grid-item__link(href=`${services[3].link}`)
          .container-flex.container-flex_col-center
            .mosaic-grid-item__link-icon(class=`icon_${services[3].icon}`)
            .mosaic-grid-item__link-text #{services[3].title}
      .mosaic-grid-item.mosaic-grid-item_md
        .mosaic-grid-item.mosaic-grid-item_sm.mosaic-grid-item_5
          a.mosaic-grid-item__link(href=`${services[4].link}`)
            .mosaic-grid-item__link-text #{services[4].title}
        .mosaic-grid-item.mosaic-grid-item_sm.mosaic-grid-item_6
          a.mosaic-grid-item__link(href=`${services[5].link}`)
            .mosaic-grid-item__link-text #{services[5].title}
  .mosaic-grid__col
    .mosaic-grid-item.mosaic-grid-item_sm.mosaic-grid-item_7
      a.mosaic-grid-item__link(href=`${services[6].link}`)
        .mosaic-grid-item__link-text #{services[6].title}
