$mosaic-grid-item-h-sm: 133px;

.mosaic-grid {
  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.mosaic-grid-level {
  display: flex;
}

.mosaic-grid-item {
  $mosaic-grid-item-col: white;
  $col1-bg-col: $brand-pink;
  $col2-bg-col: $brand-blue;
  $col3-bg-col: $brand-green;
  $col4-bg-col: $brand-purple;
  width: 100%;
    
  &_sm {
    height: $mosaic-grid-item-h-sm;
  }
  &_md {
    height: 2 * $mosaic-grid-item-h-sm;
  }
  &_lg {
    height: 4 * $mosaic-grid-item-h-sm;
  }

  &_1 {
    @include link-bg-color($col1-bg-col, 50, 5%);
  }
  &_2 {
    @include link-bg-color($col2-bg-col, 50, 5%);
  }
  &_3 {
    @include link-bg-color(lighten($col2-bg-col, 2%), 50, 5%);
  }
  &_4 {
    @include link-bg-color($col3-bg-col, 50, 5%);
  }
  &_5 {
    @include link-bg-color(lighten($col3-bg-col, 2%), 50, 5%);
  }
  &_6 {
    @include link-bg-color(lighten($col3-bg-col, 5%), 50, 5%);
  }
  &_7 {
    @include link-bg-color($col4-bg-col);
  }

  &__link {
    @include flex-center;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $mosaic-grid-item-col;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 700;
  }

  &__link-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 480px) {
  .mosaic-grid-level {
    flex-direction: column;
  }
  .mosaic-grid-item {
    height: auto !important;
    &__link-icon {
      display: none;
    }
    &__link {
      height: $mosaic-grid-item-h-sm / 2;;
    }
  }
}