.header {
  $select-nearest-width: 1 / 6 * $grid;
  $main-width: 5 / 6 * $grid;
  
  $header-logo-col: white;
  $header-logo-bg-col: black;

  $callback-bg-col: $grayd9;
  $appointments-bg-col: $graye5;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zi-header;
  width: 100%;

  &__select-nearest {
    flex: $select-nearest-width;
  }
  
  &__main {
    flex: $main-width;
  } 
  
  &__misc-item {
    flex: 1;
    &_standout {
      flex: 2;
    }
  }

  &__link {
    height: $header-link-h;
    text-transform: uppercase;
    font-size: 13px;
    background-color: white;
    padding: 0 10px;
    text-align: center;
  }

  &__logo {
    color: $header-logo-col;
    @include link-bg-color($header-logo-bg-col, 90)
    background-repeat: no-repeat;
    background-position: center;
    background-image: $icon-logo-white;
    background-size: 80% auto;
  }

  &__tel {
    font-size: 26px;
    font-weight: 800;
    @include link-bg-color(white)
  }

  &__callback {
    @include link-bg-color($callback-bg-col, 90)
  }

  &__appointments {
    @include link-bg-color($appointments-bg-col, 90)
  }

  &__nav-btn-container {
    display: none;
  }
}

.select-nearest {
  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .total {
      margin-bottom: 5px;
      font-weight: 700;
    }
  }
  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
  }
  // .branch-count {
  //   position: absolute;
  //   top: 6px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   font-weight: 700; 
  // }
}

@media screen and (max-width: 900px) {
  .header {
    &__select-nearest {
      display: none;
    }
    &__logo-container {
      flex: 2;
    }
  }
}

@media screen and (max-width: 750px) {
  .header {
    &__logo-container {
      display: none;
    }
    &__nav-btn-container {
      max-width: 66px;
      display: block;
    }
  }
}

@media screen and (max-width: 550px) {
  .header {
    &__tel {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__action {
      display: none;
    }
    &__misc-item_standout {
      flex: 1;
    }
  }
}

.select-nearest {
  &__icon {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__link {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 20px;
    cursor: pointer;
    @include link-bg-color(white, 50)
  }
}