header.header.container-flex#header
  .select-nearest.header__select-nearest
    a(href="/contacts").select-nearest__link
      div
        .select-nearest__icon.icon_marker
        .total
          span.branch-count 66
          span  клиник
        div Выберите ближайшую

  .header__main
    ul.header__misc.container-flex
      li.header__misc-item.header__logo-container
        a.header__link.container-flex.container-flex_center.header__logo(href="/")
      li.header__misc-item.header__nav-btn-container
        button.nav-btn.header__nav-btn.icon_menu
      li.header__misc-item.header__misc-item_standout
        a.header__link.container-flex.container-flex_center.header__tel(href=`tel:${contacts.tel}`) #{helpers.formatTel(contacts.tel)}
      li.header__misc-item.header__action
        a.header__link.container-flex.container-flex_center.header__callback(href="#modal-callback" data-modal-open) Перезвоните мне
      li.header__misc-item.header__action
        a.header__link.container-flex.container-flex_center.header__appointments(href="#modal-appointments" data-modal-open) Записаться на прием
    include ../nav/nav