.modal.container-flex.container-flex_center
  .modal-inner
    .modal-content

each form in forms
  div(id=`modal-${form.id}` style="display: none")
    include ../form/form
    +form(form.id, `form_${form.id}`, form.title, form.items, form.btn)

#modal-conditions(style="display: none")
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolore, dicta recusandae? Odit similique voluptatibus commodi ex excepturi facilis neque necessitatibus explicabo, adipisci possimus ipsam voluptate magnam, corrupti, aperiam sit.