$modal-content-bg-col: white;

.modal-visible {
  .modal {
    z-index: $zi-modal-visible;
    background-color: $modal-bg-color;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $zi-modal-hidden;
  padding: 20px;
}

.modal-content {
  background-color: $modal-content-bg-col;
}

