.body {
  font-size: $base-fz;
  font-family: $base-font;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding-top: 133px;
}

.container {
  display: block;
}

.container-flex {
  display: flex;
  &_col {
    flex-direction: column;
  }
  &_sb {
    justify-content: space-between;
  }
  &_center {
    justify-content: space-around;
    align-items: center;
  }
  &_col-center {
    flex-direction: column;
    align-items: center;
  }
}

.heading {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  &_main {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    background-color: white;
  }
  &_standout {
    padding: 60px 0;
    margin-bottom: 0;
    text-align: center;
  }
}

.subheading {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.standout-text {
  font-size: 15px;
  font-style: italic;
}

.input {
  &_search {
    padding-bottom: 2px;
    font-style: italic;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    color: inherit;
    &::-webkit-input-placeholder {
      color: inherit;
      opacity: 0.7
    }
    &::-moz-placeholder {
      color: inherit;
      opacity: 0.7
    }
    &:-ms-input-placeholder {
      color: inherit;
      opacity: 0.7
    }
    &:-moz-placeholder {
      color: inherit;
      opacity: 0.7
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.section {
  height: 70vh;
  padding: 60px;
}

.grid-section {
  height: 80vh;
}

.content-centered {
  width: 66.6%;
  margin: 0 auto;  
}

@media screen and (max-width: 750px) {
  .main {
    padding-top: 66px;
  }
}

@media screen and (max-width: 480px) {
  .content-centered {
    width: 100%;
  }
}