@mixin link-bg-color($color, $threshold: 50, $amount: 3%) {
  background-color: $color;
  &:hover {
    transition: 0.5s;
    background-color: set-hover-bg-col($color, $threshold, $amount);
  }
}

@mixin flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin filter-bg($color: rgba(black, 0.5), $remove-on-hover: false) {
  position: relative;
  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color;
  }
  @if $remove-on-hover {
    &:hover {
      &::after {
        display: none;
      }
    }
  } 
}

@mixin grid($item-width: 33.3%, $gutter: 20px) {
  display: flex;
  margin-left: -$gutter;
  flex-wrap: wrap;
  &__item {
    padding-left: $gutter;
    margin-bottom: $gutter;
    width: $item-width;
  }
}

@mixin bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;    
}

@mixin even-grid {
  display: flex;
  &__item {
    width: 50%;
  }
}