$base-font: "Arimo", Helvetica, sans-serif;
$base-fz: 13px;

$grid: 12;

$black-transp: rgba(black, 0.4);

$grayd9: #d9d9d9;
$graye5: #e5e5e5;
$grayf5: #f5f5f5;

$pink: #ea3386;
$pink2: #f48fb0;

$green: #80cac4;

$blue: #3e51b5;
$purple: #7985ca;

$brand-pink: #dbb6d7;
$brand-blue: #c3cbe9;
$brand-darkgray: #282929;
$brand-gray: #ededed;

$brand-green: #c3e9c8;
$brand-purple: #d0c3e9;

$modal-bg-color: $black-transp;

$placeholder_img: url('../img/placeholder.jpg');

$header-link-h: 66px;

$zi-modal-hidden: -2;
$zi-index-slider: -1;
$zi-slider-nav: 2;
$zi-header: 5;
$zi-modal-visible: 10;

$nav-bg-col: $grayf5;
$nav-highlight-col: $pink;
$nav-list-h: 67px;

$col1-bg-col: $brand-pink;
$col2-bg-col: $brand-blue;
$col3-bg-col: $brand-green;
$col4-bg-col: $brand-purple;

$price-list-gutter: 50px;

$slider-nav-height: 100px;
