footer.footer
  .footer__feedback
    .footer__quality-control
      h2.heading Контроль качества
      a(href="#modal-feedback" data-modal-open).button.button_all-width.button_border_dark Написать директору
    .footer__links-social
      .footer__social
        ul.footer__social-list
          each item in social
            li.footer__social-item(class=`icon_${item.icon}`)
              a(href=`${item.link}`)
      .footer__links
        ul.footer__links-list
          each link in footer.links
            li.footer__link-item
              a(href=`${link.link}`) #{link.text}

  .footer__footer