$footer-layer-height: 132px;

.footer {
  &__feedback {
    display: flex;
  }

  &__quality-control {
    @include flex-center-col;
    padding: 50px 60px;
    flex: 1;
    .heading {
      align-self: flex-start;
      margin-bottom: 20px;
      text-align: left;
    }
  }
  &__links-social {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    flex: 1;
  }
  &__social-list {
    display: flex;
    justify-content: space-between;
  }
  &__social {
    @include flex-center;
    height: $footer-layer-height;
    background-color: $brand-darkgray;
  }
  &__links {
    @include flex-center;
    height: $footer-layer-height;
    background-color: lighten($brand-darkgray, 20%);
  }
  &__links-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }
  &__link-item {
    line-height: 1em;
    text-align: center;
    padding: 5px 5px;
    text-transform: uppercase;
    color: white;
    &:hover {
      color: rgba(white, 0.5);
      &::after {
        color: white;
      }
    }
    &:not(:last-child) {
      &::after {
        position: relative;
        right: -5px;
        content: '|';
      } 
    }
  }
  &__social-list {
    width: 50%;
  }
  &__social-item {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    &:hover {
      opacity: 0.5;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    height: $footer-layer-height;
    background-color: lighten($brand-darkgray, 70%);
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    &__feedback {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    &__links {
      height: auto;
      padding: 10px 0 5px;
    }
    &__links-list {
      flex-direction: column;
    }
    &__link-item {
      margin-bottom: 5px;
      &:not(:last-child) {
        &:after {
          display: none;
        }
      }
    }
    &__social-list {
      width: 70%;
    }
  }
}