.button {
  @include flex-center;
  height: 42px;
  padding: 0 10px;
  font-size: 13px;
  text-transform: uppercase;
  width: 220px;
  margin: 0 auto;
  
  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:hover {
    cursor: pointer;
  }

  &_default_dark {
    color: $brand-darkgray;
    background-color: rgba($brand-darkgray, 0.05);
    &:hover {
      background-color: rgba($brand-darkgray, 0.1);
    }
  }

  &_default_light {
    color: white;
    background-color: rgba(white, 0.2);
    &:hover {
      background-color: rgba(white, 0.4);
    }
  }

  &_border_dark {
    color: $brand-darkgray;
    border: 1px solid $brand-darkgray;
    &:hover {
      background-color: rgba($brand-darkgray, 0.1);
    }
  }

  &_border_light {
    color: white;
    border: 1px solid white;
    &:hover {
      background-color: rgba(white, 0.4);
    }
  }

  &_black {
    color: white;
    background-color: $brand-darkgray;
    &:hover {
      background-color: rgba($brand-darkgray, 0.5);
    }
  }


  &_modalcall {
    border: 1px solid;
  }

  &_all-width {
    width: 100% !important;
  }

  &_all-width_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}