extends ../includes/page/page

block content
  h1.heading.heading_main Услуги
  include ../includes/mosaic-grid/mosaic-grid
  include ../includes/price-list/price-list
  +price-list('Стоимость услуг', prices)
  section.interior
    include ../includes/slider/slider
    +slider('interior-slider-container', 'interior-slider', 'interior-slider-nav', 'Интерьеры клиник', '#c3cbe9')
      .img-container
        img(src='../img/placeholder.jpg')