section.section-reviews
  h2.heading.section-reviews__heading Отзывы
  include ../../includes/slider/slider
  +slider('reviews-slider-container', 'reviews-slider', 'reviews-slider-nav')
    .slider-review-item
      div
        h3.slider-review-item__author Константин
        p #{misc.paragraph}
    .slider-review-item
      div
        h3.slider-review-item__author Константин
        p #{misc.paragraph}
    .slider-review-item
      div
        h3.slider-review-item__author Константин
        p #{misc.paragraph}
  a.button.button_default_dark(href="/reviews") Хочу почитать все
  a.button.button_black(href="#modal-feedback" data-modal-open) Написать отзыв