.section-reviews {
  @include flex-center-col;
  padding: 60px 0;
  background-color: darken($brand-gray, 5%);
}

$review-item-h: 300px;

.reviews-slider-container {
  height: $review-item-h;
  width: 100%;
  margin: 40px 0;
}

.slider-review-item {
  @include flex-center;
  height: $review-item-h;
  font-weight: 700;
  &__author {
    text-align: center;
    margin: 20px 0;
  }
  p {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .slider-review-item {
    p {
      max-width: 280px;
    }
  }
}