extends ../includes/page/page

block content
  .heading-block.promo__heading-block
    h1.heading Наши акции
  .content-centered
    ul.promo-list
      each item in promo
        li.promo-list__item
          article.promo-item(href=`${item.link}` style="background-image: url('../img/placeholder.jpg')")
            a.promo-item__description
              p= item.text 