.promo {
  &__heading-block {
    background-color: $brand-blue;
    color: white;
  }
}

.promo-list {
  $promo-list-margin: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$promo-list-margin;
  padding: 100px 0 (100px - $promo-list-margin);

  &__item {
    position: relative;
    height: 235px;
    width: 50%;
    padding-left: $promo-list-margin;
    margin-bottom: $promo-list-margin;
    z-index: 1;
  }
}

.promo-item {
  display: block;
  height: 100%;
  width: 100%;
  background-color: $brand-blue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  &__description {
    @include flex-center;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(black, 0.5);
    &:hover,
    &:active {
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .promo-list {
    &__item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .promo-list {
    padding: 40px;
  }
}