.spread
  .spread__half
    .spread__text-block
      h2.heading Выберите своего врача
      div
        p #{misc.sentence}
        p #{misc.sentence}
        p #{misc.sentence}
      a(href="#modal-callback" data-modal-open).button.button_default_dark Перезвоните мне      
      a(href="#modal-appointments-tests" data-modal-open).button.button_border_dark Записаться на анализы
  .spread__half
    include ../../includes/slider/slider
    +slider('doctors-previews-container', 'doctors-previews-slider', 'doctors-previews-nav')
      - let i = 0;
      while i < 10
        .preview_col.container-flex.container-flex_col
          - let j = 0
          while j < 3
            include ../../includes/person-preview/person-preview
            - j++
        - i++
