.contacts {
  &__map {
    height: 500px;
  }
  &__heading-block {
    background-color: $brand-blue;
    color: white;
  }
}

.branches {
  &__table {
    width: 100%;
    margin: 100px 0;
    border-collapse: collapse;
  }

  &__th {
    text-transform: uppercase;
    text-align: left;
    width: 25%;
    padding-bottom: 20px;
    border-bottom: 2px solid $brand-blue;
    font-weight: 700;
  }
}

.branch-item {
  border-bottom: 1px solid $brand-gray;
  td {
    padding: 30px 20px 30px 0;
    vertical-align: top;
   
  }
  &__name {
    font-weight: 700;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  &__tel,
  &__email {
    a {
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .branches {
    &__thead {
      display: none;
    }
  }

  .branch-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 0;
    td {
      padding: 10px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .branches {
    &__table {
      margin: 30px 0;
    }
  }
  .branch-item {
    td {
      padding: 20px !important;      
    }
  }
}