extends ../includes/page/page

block content
  .heading-block.contacts__heading-block
    h2.heading Выбор ближайшей клиники
  .contacts__map
    include ../includes/map/map
  .heading-block.contacts__heading-block
    h2.heading.contacts__heading-block Клиники списком
  .content-centered
    table.branches__table
      thead.branches__thead
        tr
          th.branches__th Клиника
          th.branches__th Адрес
          th.branches__th Контакты
          th.branches__th Время работы
      tbody
        each clinic in clinics
          tr.branch-item
            td.branch-item__name
              a.branch-item__link(href=(`${clinic.link}`))= clinic.name
            td.branch-item__where
              .branch__city= clinic.city
              .branch__address= clinic.address
            td.branch-item__contacts
              .branch-item__tel
                a(href=`tel:${clinic.tel}`)= clinic.tel
              .branch-item__email
                a(href=`mailto:${clinic.email}`)= clinic.email
            td.branch-item__hours
              each item in clinic.hours
                .branch-item__hours-item #{item.days} #{item.start}&ndash;#{item.end}
    include ../includes/article/article