.blog {
  background-color: $brand-gray;
  padding-bottom: 50px;
  .section-search {
    height: 150px;
    padding: 20px;
    margin-bottom: 50px;
    color: black;
    &__input {
      color: black;
      border-color: black;
    }
  }
}

.blog-featured-item {
  height: 300px;
  margin-bottom: 50px;
  &__link {
    height: 100%;
    width: 100%;
    @include bg-img;
    @include flex-center;
    @include filter-bg($remove-on-hover: true);
  }
  &__heading {
    z-index: 2;
    font-size: 5em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.blog-entries {
  @include grid
  &__item {
    height: 250px;
  }
}

.blog-item {
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
  &:hover {
    box-shadow: 0 0 5px rgba(black, 0.5);
  }
  &__preview {
    @include bg-img;
    height: 75%;  
  }
  &__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
  }
}



@media screen and (max-width: 1000px) {
  .blog-entries {
    flex-direction: column;
    &__item {
      width: 100%;
    }
  }

  .blog-featured-item {
    &__heading {
      font-size: 3em;
    }
  }
}