extends ../includes/page/page

block content
  .blog
    section.page-heading-alt
      .content-centered
        .social-links
          each link in social
            a(class=`icon_${link.icon}` href=`${link.link}`).social-links__link
        h1.page-heading-alt__heading Наш блог
    .content-centered
      .blog-featured-item
        a(href='' style="background-image: url('../img/placeholder.jpg')").blog-featured-item__link
          h2.blog-featured-item__heading Заголовок
      include ../includes/section-search/section-search
      +section-search(null, 'Ведите поисковый запрос', 'Найти', 'transparent', 'dark')
      .blog-previews
        ul.blog-entries
          li.blog-entries__item
            a(href='').blog-item
              .blog-item__preview(style="background-image: url('../img/placeholder.jpg')")
              h2.blog-item__heading Новости оториноларингологии
          li.blog-entries__item
            a(href='').blog-item
              .blog-item__preview(style="background-image: url('../img/placeholder.jpg')")
              h2.blog-item__heading Новости оториноларингологии
          li.blog-entries__item
            a(href='').blog-item
              .blog-item__preview(style="background-image: url('../img/placeholder.jpg')")
              h2.blog-item__heading Новости оториноларингологии
          li.blog-entries__item
            a(href='').blog-item
              .blog-item__preview(style="background-image: url('../img/placeholder.jpg')")
              h2.blog-item__heading Новости оториноларингологии
        include ../includes/pagination/pagination
