$form-bg-col: white;
$form-input-border-col: $brand-gray;
$form-link-col: $brand-blue;
$form-link-hover-col: $brand-pink;
$form-btn-col: white;
$form-btn-bg-col: $brand-pink;

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $form-bg-col;
  padding: 40px;
  &__title {
    margin-bottom: 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__subtitle {
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__input {
    border: none;
    border-bottom: 1px solid $form-input-border-col;
    margin-bottom: 20px;
    width: 100%;
  }
  &__textarea {
    font-family: $base-font;
    min-height: 70px;
    resize: vertical;
  }
  &__select {
    border: 1px solid white;
    border-bottom: 1px solid $form-input-border-col;
  }
  &__date {
    font-family: $base-font;
  }
  &__checkbox {
    margin-right: 5px;
  }
  &__link {
    color: $form-link-col;
    &:hover {
      color: $form-link-hover-col;
      cursor: pointer;
    }
  }
  &__label {
    width: 100%;
  }
  &__label-text {
    margin-bottom: 5px;
  }
  &__submit {
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
    color: $form-btn-col;
    background-color: $form-btn-bg-col;
    &:hover {
      background-color: darken($form-btn-bg-col, 10%);
      cursor: pointer;
    }
    &:active {
      background-color: darken($form-btn-bg-col, 20%);      
    }
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    line-height: 25px;
    &:hover {
      cursor: pointer;
      color: $brand-pink;
    }
  }
}