mixin form(id, className, title, items, buttonTitle)
  form.form(class=`${className}` id=`${id}`)
    h2.form__title #{title.main}
    if title.subtitle
      p.form__subtitle= title.subtitle

    each item in items
      if item.input === "input"
        input.form__input(type=`${item.type}` placeholder=`${item.placeholder}` required=`${item.required}` name=`${item.name}`)
      if item.input === "textarea"
        textarea.form__input.form__textarea(placeholder=`${item.placeholder}` required=`${item.required}` name=`${item.name}`)
      if item.input === "select"
        label.form__label
          .form__label-text= item.label
          select.form__input.form__select(required=`${item.required}` name=`${item.name}`)
            each option in item.options
              option= option
      if item.input === "date"
        label.form__label
          .form__label-text Дата
          input.form__input.form__date(type="date" required=`${item.required}` name=`${item.name}`)
    
    label.form__label(for=`${id}-agrees`)
      input.form__checkbox(type="checkbox" id=`${id}-agrees`)
      span Я согласен 
        a.form__link(href="#modal-conditions" data-modal-open) с условиями политики кофиденциальности

    button.form__submit #{buttonTitle}
    button(data-modal-close).form__close &times;
