article.article
  h3.article__heading #{misc.word}
  h4.article__subheading Subheading
  p #{misc.paragraph}
  p #{misc.paragraph}
  ul
    li #{misc.sentence}
    li #{misc.sentence}
    li #{misc.sentence}
    li #{misc.sentence}
    li #{misc.sentence}
  h3.article__heading #{misc.word}
  h4.article__subheading Subheading
  p #{misc.paragraph}
  p #{misc.paragraph}
  ol
    li #{misc.sentence}
    li #{misc.sentence}
    li #{misc.sentence}
    li #{misc.sentence}
    li #{misc.sentence}
