.article {
  &__heading {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  &__subheading {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  padding: 50px 0;
  p {
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;
    list-style-type: square;
  }

  ol {
    margin-bottom: 20px;
    list-style-type: decimal;  
  }

  li {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .article {
    padding: 50px 30px;
  }
}
