.pagination {
  display: flex;
  justify-content: space-around;
  &__prev,
  &__next {
    display: block;
    height: 40px;
    width: 15px;
    @include bg-img
    background-size: contain;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  &__pages {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  &__page {
    @include flex-center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: 700;
    &:hover {
      border: 2px solid $brand-pink;
    }
    &.selected {
      background-color: $brand-pink;
      color: white;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      @include flex-center;
      height: 100%;
      width: 100%;
    }
  }
}
