.pagination
  .container-flex
    button.pagination__prev.icon_arrow-left-pink
    ul.pagination__pages
      li.pagination__page.selected 1
      li.pagination__page
        a(href='') 2
      li.pagination__page
        a(href='') 3
    button.pagination__next.icon_arrow-right-pink