.careers {
  background-color: $brand-gray;
}

.careers-btn {
  background-color: rgba($brand-purple, 0.8);
  color: white;
  &:hover,
  &:active {
    background-color: $brand-purple;
  }  
}

.page-heading-alt {
  padding: 100px 0 30px;
  position: relative;
  font-weight: 700;
  &__heading {
    position: relative;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: $brand-darkgray;
  }
}

$vacancies-gutter: 20px;

.vacancies {
  @include grid
  padding-bottom: 50px;
}

.vacancy {
  background-color: white;
  height: 250px;  
  padding: 20px;
  display: flex;  
  flex-direction: column; 
  justify-content: space-between; 
  &__title,
  &__salary {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700; 
  }
  &__details {
    margin-bottom: 10px;
    border: 1px solid $brand-darkgray;
    &:hover {
      color: $brand-blue;
      border-color: $brand-blue;
    }
  }
  &__apply {
    &:hover {
      color: $brand-blue;
    }
  }
}

@media screen and (max-width: 1000px) {
  .vacancies {
    flex-direction: column;
    &__item {
      width: 100%;
    }
  }
}


@media screen and (max-width: 600px) {
  .page-heading-alt {
    &__heading {
      font-size: 2em;
    }
  }
}