extends ../../includes/page/page

block content
  .careers
    section.page-heading-alt
      .content-centered
        .social-links
          each link in social
            a(class=`icon_${link.icon}` href=`${link.link}`).social-links__link
        h1.page-heading-alt__heading Вакансии в клиниках &laquo;Альверум&raquo;
    .content-centered    
      ul.vacancies
        each item in vacancies
          li.vacancies__item
            article.vacancy
              h2.vacancy__title= item.title
              .vacancy__salary #{item.salary} ₽
              .vacancy__controls
                a.button.vacancy__details(href=`${item.link}`) Подробнее
                a.button.vacancy__apply(href="#modal-application" data-modal-open) Откликнуться