extends ../../../includes/page/page

block content
  .careers
    section.page-heading-alt
      .content-centered
        .social-links
          each link in social
            a(class=`icon_${link.icon}` href=`${link.link}`).social-links__link
        h1.page-heading-alt__heading Оториноларинголог-уринотерапевт
    .content-centered
      a.button.careers-btn(href='#modal-application' data-modal-open) Откликнуться
      include ../../../includes/article/article