.portrait-gallery-item {
  display: block;
  height: 100%;
  width: 100%;
  &__img-container {
    // height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    // img {
    //   height: 100%;
    //   min-height: 100%;
    //   width: auto;
    // }
  }
  &__caption {
    text-align: center;
    padding: 10px 10px 20px;
  }
  &__name {
    font-weight: 700;
    margin-bottom: 5px;
  }
}