mixin item(person)
  a(href=`${person.link}`).portrait-gallery-item
    .portrait-gallery-item__img-container
      img(src=`${person.img}`)
    .portrait-gallery-item__caption
      h3.portrait-gallery-item__name= person.name
      p.portrait-gallery-item__position= person.position