extends ../includes/page/page

block content
  .heading-block.reviews__heading-block
    .content-centered
      h1.heading Отзывы
      p #{misc.sentence}
      a.button.button_border_light(href="#modal-review" data-modal-open) Написать отзыв
  .content-centered
    - for (let i = 0; i < 15; i++) {
      include ../includes/review/review
    -}