section.links-block
  ul.links-block-list.links-block__list
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
    li.links-block-list__item
      a(href='/tests/test').links-block-list__link Анализ
