$links-block-w: 5/6 * 100%;

.links-block {
  @include flex-center;
  padding: 50px 0 30px;
  &__list {
    width: $links-block-w;
  }
}

.links-block-list {
  @include grid($gutter: 30px);
  &__item {
    margin-bottom: 20px;
  }
  &__link {
    display: block;
    padding: 12px 50px 12px 14px;
    background-color: rgba(white, 0.2);
    color: white;
    text-transform: uppercase;
    position: relative;
    &::after {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-10px);
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent rgba(white, 0.5);
    }
    &:hover,
    &:active {
      background-color: rgba(white, 0.4);
      &::after {
        border-color: transparent transparent transparent white;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .links-block-list {
    flex-direction: column;
    &__item {
      width: 100%;
    }
  }
}