.map-all-width {
  height: 400px;
}

.map-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .map {
    width: 100%;
    height: 100%;
  }
  &__button {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 33.3%;
    transform: translateX(-50%);
    @include link-bg-color($brand-blue)
    color: white;
  }
}

@media screen and (max-width: 650px) {
  .map-container {
    height: 400px;
    &__button {
      top: 0;
      left: 0;
      width: 100%;
      transform: initial;
    }
  }
}
