.portrait-gallery {
  display: flex;
  flex-wrap: wrap;
  &__item {
    width: 33.3%;
    &:hover {
      background-color: $brand-gray;
      img {
        filter: saturate(150%)
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .portrait-gallery {
    &__item {
      width: 50%;
    }
  }
}