doctype html
html(lang=`${head.lang}`)
  include ../head
  body.body
    include ../header/header
    main.main
      include ../breadcrumbs/breadcrumbs  
      block content
    include ../footer/footer
    include ../modals/modals