.price-list {
  padding: 40px 0;
  &__heading {
    margin-bottom: 35px;
  }
  &__cols {
    display: flex;
    justify-content: space-between;
    margin-left: -$price-list-gutter;
  }
  &__col {
    flex: 1;
    padding-left: -$price-list-gutter;
  }
  &__item {
    margin-left: $price-list-gutter;
    margin-bottom: 40px;    
  }
}

@media screen and (max-width: 750px) {
  .price-list {
    &__cols {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 480px) {
  .price-list {
    &__content {
      padding: 0 30px;
    }
  }
}