mixin price-list(title=null, prices, className=null)
  section.price-list(class=`${className}`)
    .content-centered.price-list__content
      if title
        h2.heading.price-list__heading= title
      .price-list__cols
        .price-list__col
          - for (let i = 0; i < prices.length; i += 2) {
            include ../price-list-item/price-list-item
            +price-list-item(prices[i], true, 'price-list__item')
          - }
        .price-list__col
          - for (let i = 1; i < prices.length; i += 2) {
            include ../price-list-item/price-list-item
            +price-list-item(prices[i], true, 'price-list__item')
          - }