.features-container {
  min-height: 100vh;
  background-color: $brand-darkgray;
  background-image: $placeholder_img;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features {
  position: relative;
  width: 85%;
  height: 80%;
  background-color: $brand-gray;
  padding: 80px 20px 100px;

  z-index: 0;

  &__heading {
    text-align: center;
    margin-bottom: 35px;
  }


  &__list {
    counter-reset: item
  }

  &__list-item {
    position: relative;
    flex: 1;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 20px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::after {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100%;
      text-align: center;
      counter-increment: item;
      content: counter(item);
      font-size: 130px;
      color: white;

      z-index: -1;
    }
  }
}

@media screen and (max-width: 900px) {
  .features {
    &__list {
      flex-direction: column;
    }
    &__list-item {
      &::after {
        display: none;
      }
    }
  }
}