nav.nav
  ul.nav__list.container-flex
    li.nav__list-item.nav__list-item_home
      a(href="/").container-flex.container-flex_center.nav__link На главную
    each item in mainSections
      li.nav__list-item
        if item.highlight
          a.container-flex.container-flex_center.nav__link.nav__link_highlight(href=`${item.name}`) #{item.title}
        else
          a.container-flex.container-flex_center.nav__link.nav__link(href=`${item.name}`) #{item.title}
        if item.subsections
          ul.nav__submenu
            each _item in item.subsections
              li.nav__submenu-item
                a.container-flex.container-flex_center.nav__submenu-link(href=`${_item.link}`)= _item.title

    li.nav__list-item.nav__list-item_action
      a.container-flex.container-flex_center.nav__link.nav__link_highlight(href="#modal-callback" data-modal-open) Перезвоните мне
    li.nav__list-item.nav__list-item_action
      a.container-flex.container-flex_center.nav__link.nav__link_highlight(href="#modal-appointments" data-modal-open) Записаться на прием
