.nav {
  background-color: $nav-bg-col;

  &__list {
    height: $nav-list-h;
  }
  &__list-item {
    width: 12%;
    &_action {
      display: none;
    }
    &_home {
      display: none;
    }
  }
  &__link {
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    @include link-bg-color($nav-bg-col)

    &_highlight {
      color: $nav-highlight-col;
    }
  }
  &__submenu {
    display: none;
  }
  &__submenu-item {
    &:nth-child(7n - 6) {
      @include link-bg-color($col1-bg-col, 50, 5%);
    }
    &:nth-child(7n - 5) {
      @include link-bg-color($col2-bg-col, 50, 5%);
    }
    &:nth-child(7n - 4) {
      @include link-bg-color(lighten($col2-bg-col, 2%), 50, 5%); 
    }
    &:nth-child(7n - 3) {
      @include link-bg-color($col3-bg-col, 50, 5%);
    }
    &:nth-child(7n - 2) {
      @include link-bg-color(lighten($col3-bg-col, 2%), 50, 5%); 
    }
    &:nth-child(7n - 1) {
      @include link-bg-color(lighten($col3-bg-col, 5%), 50, 5%);
    }
    &:nth-child(7n) {
      @include link-bg-color($col4-bg-col);
    }
  }
  &__submenu-link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px 75px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    white-space: nowrap;
  }
}

.nav-btn {
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
  background-color: white;
  &:hover {
    cursor: pointer;
    background-color: $brand-gray;
  }
  &:focus {
    background-color: $brand-gray;
    outline: none;
  }
  &:active {
    background-color: darken($brand-gray, 10%);
  }
}

@media screen and (min-width: 751px) {
  .nav__list-item {
    &:hover {
      position: relative;
      .nav__submenu {
        display: block;
        position: absolute;
        top: $nav-list-h - 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .nav {
    &__list {
      display: none;
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    &__list-item {
      width: 100%;
      &_home {
        display: block;
      }
    }
    &__link {
      width: 100%;
      padding: 15px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .nav {
    &__list-item_action {
      display: block;
    }
  }
}