.doctors {
  &__heading {
    background-color: $brand-pink;
    color: white;
  }

  &__search {
    padding: 40px 0;
  }

  &__find {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .input_search {
      flex: 1;
      margin-right: 20px;
    }
  }

  &__filter-categories {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-right: 20px;        
    .select {
      flex: 1;
      max-width: 49%;
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    @include link-bg-color($brand-pink);
    color: white;
    width: 30%;
  }
}

@media screen and (max-width: 750px) {
  .doctors {
    &__find,
    &__filter,
    &__filter-categories {
      flex-direction: column;
    }
    &__find {
      .input_search {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    &__filter-categories {
      margin-right: 0;
      .select {
        height: 42px;
        width: 100%;
        margin-bottom: 10px;
        max-width: 100%;
        &:first-child {
          margin-right: 0;
        }
      }
    }
    &__btn {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .doctors {
    &__search {
      padding: 25px;
    }
  }
}