extends ../includes/page/page

block content
  h1.heading.heading_standout.doctors__heading Врачи
  .content-centered
    section.doctors__search
      .doctors__find
        input(type="text" placeholder="Поиск врача по имени").input_search
        button.button.doctors__btn Найти
      .doctors__filter
        .doctors__filter-categories
          include ../includes/select/select
          +select('Все клиники', select.options)
          +select('Все специальности', select.options)
        button.button.doctors__btn Показать

    include ../includes/portrait-gallery/portrait-gallery