.about {
  background-color: $brand-gray;
  padding-bottom: 10px;
}

.about-heading {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../img/placeholder.jpg');
  padding: 100px 0;
  @include filter-bg
  &__heading {
    position: relative;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 70px;
    color: white;
  }
}

.features-about {
  position: relative;
  z-index: 2;
  width: 100%;
  @include flex-center;
  &__item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
  }
  &__link {
    height: 100%;
    width: 100%;
    @include flex-center;
    padding: 10px;
    flex-direction: column;
    background-color: $brand-pink;
    color: white;
    &:hover,
    &:active {
      cursor: pointer;
      background-color: white;
      color: $brand-pink;
    }
  }
  &__standout {
    font-size: 2.5em;
  }
}

.social-links {
  display: flex;
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 30px;
  height: 30px;
  &__link {
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 30px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.about-block {
  background-color: white;
  margin-top: 10px;
  padding: 30px 0;
  &__heading {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
  }
}

.social-links-block {
  display: flex;
  justify-content: space-between;
  &__item {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid;
    position: relative;
    &:hover {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
        z-index: 1;
        display: block;
        opacity: 0.8
      }
    }
    &_fb {
      border-bottom-color: blue;
      &:hover {
        &::after {
          background-color: blue;
        }
      }
    }
    &_inst {
      border-bottom-color: orange;
      &:hover {
        &::after {
          background-color: orange;
        }
      }
    }
    &_youtube {
      border-bottom-color: red;
      &:hover {
        &::after {
          background-color: red;
        }
      }
    }
  }
  &__link {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    @include flex-center
  }
  &__icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    &.icon_fb {
      background-color: blue;
    }
    &.icon_inst {
      background-color: orange;
    }
    &.icon_youtube {
      background-color: red;
    }
  }
}

.history-list {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    &:nth-child(odd) {
      .history-list__text {
        left: 0;
      }
    }
    &:nth-child(even) {
      .history-list__text {
        right: 0;
      }
    }
    &:not(:last-child) {
      margin-bottom: 50px;
      &::after {
        z-index: 2;
        content: '';
        position: absolute;
        bottom: -60px;
        height: 70px;
        width: 2px;
        background-color: $brand-pink;
        transform: translateX(-50%);
      }
    }
  }
  &__year {
    @include flex-center;
    position: relative;
    z-index: 1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid white;
    background-color: $brand-pink;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
  }
  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 47%;
    padding: 20px 40px;
    background-color: $brand-gray;
    border-radius: 50px;
  }
  &__heading {
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.about-doctors-list {
  display: flex;
  justify-content: space-between;
  &__item {
    width: 25%;
  }
}

.about-doctors-btn {
  text-align: center;
  background-color: rgba(black, 0.2);
    &:hover,
    &:active {
    background-color: rgba(black, 0.3);
    transition: 0.5s;
  }
  color: white
}

.about-careers-btn {
  text-align: center;
  background-color: rgba($brand-blue, 0.8);
    &:hover,
    &:active {
    background-color: $brand-blue;
    transition: 0.5s;
  }
  color: white
}


@media screen and (max-width: 1200px) {
  .social-links-block {
    flex-direction: column; 
    align-items: center;
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .about-doctors-list {
    flex-direction: column;
    align-items: center;
    &__item {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .features-about {
    flex-direction: column;
    &__item {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
    }
  }

  .social-links {
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }

  .history-list {
    &__item {
      justify-content: flex-end;
      align-items: center;
      &:not(:last-child) {
        &::after {
          display: none;
        }
      }
    }
    &__text {
      position: relative;
      height: auto;
      flex: 1;
      width: auto;
      transform: initial;
    }
  }
}

@media screen and (max-width: 480px) {
  .history-list {
    padding-left: 20px;
    padding-right: 30px;
  }
}