extends ../includes/page/page

block content
  .about
    section.about-heading
      .content-centered
        .social-links
          each link in social
            a(class=`icon_${link.icon}` href=`${link.link}`).social-links__link
        h1.about-heading__heading О сети клиник &laquo;Альверум&raquo;
        ul.features-about
          each feature in features
            li.features-about__item
              a.features-about__link
                div 
                  .features-about__standout #{feature.standout}
                  .featrues-about__regular #{feature.regular}
    section.about-block
      .content-centered
        h2.about-block__heading Мы в социальных сетях
        ul.social-links-block
          each link in social
            li.social-links-block__item(class=`social-links-block__item_${link.icon}` style=`background-image: url('../img/${link.img}')`)
              a(href=(`${link.link}`)).social-links-block__link
                .social-links-block__icon(class=`icon_${link.icon}`)
    section.about-block
      .content-centered
        h2.about-block__heading История компании
        ul.history-list
          each year in history
            li.history-list__item
              .history-list__year #{year.year}
              .history-list__text 
                h3.history-list__heading #{misc.word}
                p #{misc.paragraph}
    section.about-block
      .content-centered
        h2.about-block__heading 100500 врачей сети клиник &laquo;Альверум&raquo;
        ul.about-doctors-list
          include ../includes/portrait-gallery-item/portrait-gallery-item
          li.about-doctors-list__item
            +item(staff[0])
          li.about-doctors-list__item
            +item(staff[1])
          li.about-doctors-list__item
            +item(staff[2])
          li.about-doctors-list__item
            +item(staff[3])
        a.button.about-doctors-btn(href='/doctors') Еще 100496 врачей

    section.about-block
      .content-centered
        h2.about-block__heading Мы ищем талантливых людей
        a.button.about-careers-btn(href='/about/careers') Карьера в клинике &laquo;Альверум&raquo;

