extends ../../includes/page/page

block content
  .test
    .heading-block.test__heading-block
      h1.heading Анализ
      a(href="#modal-callback" data-modal-open).button.button_default_light Перезвоните мне
      a(href="#modal-appointments" data-modal-open).button.button_border_light Записаться на прием
      a.button.button_default_light.button_all-width_bottom(href='/contacts') Выбрать клинику
    .content-centered
      include ../../includes/article/article
    .spread.test__clinic
      .spread__half
        .spread__text-block
          h2.heading Анализы
          div
            p #{misc.sentence}
            p #{misc.sentence}
            p #{misc.sentence}
          a(href="#modal-callback" data-modal-open).button.button_default_light Перезвоните мне      
          a(href="#modal-appointments-tests" data-modal-open).button.button_border_light Записаться на анализы
      .spread__half
        include ../../includes/map/map
    include ../../includes/choose-doctor/choose-doctor
