.test {
  &__heading-block {
    background-color: $brand-blue;
    color: white;
    .heading {
      margin-bottom: 70px;
    }
  }
  &__clinic {
    background-color: $brand-blue;
    color: white;
  }
}