article.review
  header.review__header
    div
      span.review__name Константин Константинович Константинопольский
      div.review__reviewee
        a(href="").review__link.review__clinic Клиника Альверум в Усть-Каменногорске
        a(href="").review__link.review__doctor Константин Константинович Константинопольский
    span.review__date 28.03.2017
  .review__text
    p #{misc.paragraph}
    p #{misc.paragraph}
    p #{misc.paragraph}
