.review {
  padding: 30px 0;
  border-bottom: 1px solid $brand-gray;
  margin-bottom: 10px;
  &__header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 10px 20px;
    border: 1px solid $brand-purple
  }
  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px;
  }
  &__reviewee {
    color: $brand-blue;    
  }
  &__clinic {
    margin-right: 10px;
  }
  &__link {
    &:not(:first-child) {
      &:before {
        content: '/';
        margin-right: 10px;
      }
    }
  }
  &__text {
    padding: 20px 20px 0;
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .review {
    padding: 30px;
  }
}