$doctor-prewiew-h: 200px;
// .index-doctors {
//   height: 3 * $doctor-prewiew-h;
// }

.preview_col {
  height: 100%;
}

.person-preview {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: $doctor-prewiew-h;
  &:hover {
    .person-preview__name {
      display: block;
    }
  }
  &__link {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: rgba(white, 0.3);
    &:hover {
      background-color: rgba(white, 0);
    }
  }
  &__name {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-style: italic;
    display: none;
    span {
      padding: 0 4px;
      background-color: rgba(white, 0.3);
    }
  }
}

