mixin section-search(title, placeholder, btn, bgc, color='light')
  section.section-search(style=`background-color: ${bgc}`)
    h2.heading #{title}
    input.input_search.section-search__input(placeholder=`${placeholder}`)
    a.button(class=`button_border_${color}`) #{btn}