.section-search {
  $section-search-col: white;
  color: $section-search-col;
  @include flex-center-col;
  justify-content: space-between;
  padding: 70px 50px;
  &__input {
    margin: 25px 0;
    width: 60%;
    color: $section-search-col;
    border-color: $section-search-col;
  }
}
