mixin info-block-menu(info, className = null)
  ul.info-block-menu(class=`${className}`)
    each item in info
      li.info-block-menu__list-item
        a.info-block-menu__link(href=`${item.link}`)= item.text
        if item.submenu
          ul.info-block-submenu
            each _item in item.submenu
              li.info-block-submenu__list-item
                a(href=`${_item.link}`).info-block-submenu__link= _item.text
