.info-block-menu {
  &__list-item {
    &:not(:first-child) {
      border-top: 1px solid $brand-darkgray;      
    }
  }
  &__link {
    @include link-bg-color($color: white, $amount: 5%)
    display: flex;
    height: 66px;
    align-items: center;
    padding-left: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
  }
}

.info-block-submenu {
  padding-bottom: 15px;
  &__list-item {
    text-transform: uppercase;
  }
  &__link {
    @include link-bg-color($color: white, $amount: 5%)
    display: block;
    padding: 8px 0 8px 30px;
    &_selected {
      font-weight: 700;
    }
  }
}