doctype html
html(lang=`${head.lang}`)
  include ../head
  body.body.index-page
    .index-page__content
      include ../header/header
      main.main  
        block content
      include ../footer/footer
      include ../modals/modals