@media screen and (min-width: 751px) {
  $offset: $nav-list-h + $header-link-h;
  .index-page {
    margin-top: 100vh;   
    &__content {
      margin-top: -$offset;
    }
    .main {
      padding-top: 0;
    }   
    .header {
      position: static;
      &.js-fixed {
        position: fixed;
      }
    }
    .index-slider-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: $zi-index-slider;
      padding-bottom: $offset;
      &.hidden {
        display: none;
      }
    }
    .index-slider-nav {
      height: 0;
      display: flex;
      justify-content: space-between;
      position: absolute;
      padding: 0 20px;
      left: 0;
      top: 50%;
      transform: translateY(- ($slider-nav-height + $offset) / 2);
      width: 100%;
      z-index: $zi-slider-nav;
      .owl-prev,
      .owl-next {
        height: $slider-nav-height;
        width: 45px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.5;
        &:hover {
          cursor: pointer;
          opacity: 1;
          transition: 0.2s;
        }
      }
      .owl-prev {
        background-image: $icon-arrow-left-white;
      }
      .owl-next {
        background-image: $icon-arrow-right-white;
      }
    }
    .index-slider-dots {
      z-index: $zi-slider-nav;
      display: flex;
      position: absolute;
      bottom: $offset + 30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.75;
      &:hover {
        opacity: 1;
        transition: 0.2s
      }
      .owl-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.75;
        &.active {
          opacity: 1;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .index-slider-keep-scrolling {
      color: white;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      position: absolute;
      bottom: $offset + 30px;
      left: 50px;
      z-index: $zi-slider-nav;
      display: flex;
      align-items: flex-end;

      .message {
        margin-right: 15px;
      }
      .arrows {
        position: relative;
        top: 5px;
      }
      .arrow {
        margin-bottom: -5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 12px;
        border-color: #ffffff transparent transparent transparent;
        &_1 {
          animation: fadein 3s infinite
        }
        &_2 {
          animation: fadein 3s 0.3s infinite
        }
        &_3 {
          animation: fadein 3s 0.6s infinite
        }
      }
    }
    .index-slide {
      height: 100vh;
      padding-bottom: $offset;

      // remove when not needed
      background-color: navy;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 25px;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .index-slider-container {
    display: none;
  }
}
