.bg {

  &_pink {
    background-color: $brand-pink;
    color: white;
  }
  &_purple {
    background-color: $brand-purple;
    color: white;
  }
  &_blue {
    background-color: $brand-blue;
    color: white;
  }
  &_green {
    background-color: $brand-green;
    color: white;  
  }  

  &_white {
    background-color: white;
    color: $brand-darkgray;
  }

  &_gray {
    background-color: $brand-gray;
    color: $brand-darkgray;
  }
}