.spread
  .spread__half
    .spread__text-block
      h2.heading Анализы
      div
        p #{misc.sentence}
        p #{misc.sentence}
        p #{misc.sentence}
      a(href="#modal-callback" data-modal-open).button.button_default_light Перезвоните мне      
      a(href="#modal-appointments-tests" data-modal-open).button.button_border_light Записаться на анализы
  .spread__half
    include ../map/map
