.doctor {
  background-color: lighten($brand-gray, 5%);
  &__btn {
    border: 1px solid black;
    min-width: 190px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:hover,
    &:active {
      background-color: rgba(black, 0.1);
    }
    &_invert {
      background-color: black;
      color: white;
      &:hover {
        background-color: rgba(black, 0.8);
      }      
    }
  }
}

.doctor-intro {
  display: flex;
}

.doctor-stats {
  flex: 1;
  padding: 70px 0;
  @include flex-center-col;
  &__heading {
    margin-bottom: 10px;
  }
  &__workload,
  &__success {
    @include flex-center-col;
    margin-bottom: 40px;
  }
  &__success-figure {
    font-size: 2em;
    position: relative;
    &::before {
      position: absolute;
      top: -3px;
      left: 50%;
      content: '';
      transform: translateX(-50%);
      height: 1px;
      width: 60px;
      background-color: $brand-darkgray;
    }
  }
}

.doctor-img {
  flex: 2;
  min-height: 500px;
  @include bg-img;
}

.doctor-info {
  width: 50%;
  padding: 60px 80px;
  &__name {
    text-transform: uppercase;
    font-size: 2.5em;
  }
  &__block {
    margin-top: 20px;
    p {
      font-weight: 700;
    }
  }
}

.workload-meter {
  display: flex;
  &__item {
    height: 30px;
    width: 15px;
    background-color: $brand-pink;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.empty {
      opacity: 0.3;
    }
  }
}

.doctor-features {
  display: flex;
  &__item {
    width: 33.3%;
    height: 300px;
    padding: 40px;
    @include flex-center;
    &:nth-child(1) {
      background-color: rgba(black, 0.05);
    }
    &:nth-child(2) {
      background-color: rgba(black, 0.025);
    }
    p {
      position: relative;
      font-weight: 700;
      &::before {
        position: absolute;
        top: -10px;
        left: 50%;
        content: '';
        transform: translateX(-50%);
        height: 1px;
        width: 60px;
        background-color: $brand-darkgray;
      }
    }
  }
}

.doctor-services {
  background-color: rgba(black, 0.025);
  @include even-grid;
  &__item {
    @include flex-center-col
    height: 400px;
  }
  &__intro {
    padding: 100px 30px;
  }
  &__list-item {
    flex: 1;
    width: 100%;
    color: white;
    text-transform: uppercase;
    a {
      display: flex;
      align-items: center;
      padding-left: 20%;
      height: 100%;
      width: 100%;
      padding-left: 20%;
      background-color: rgba(white, 0.1);
      &:hover {
        background-color: transparent;
      }
    }
    &:nth-child(1) {
      background-color: $brand-blue;
    }
    &:nth-child(2) {
      background-color: $brand-purple;
    }
    &:nth-child(3) {
      background-color: $brand-pink;
    }
    &:nth-child(4) {
      background-color: $brand-green;      
    }
  }
  &__heading {
    margin-bottom: 70px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .doctor-intro {
    flex-wrap: wrap;
    // flex-direction: row-reverse;
  } 

  .doctor-info {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .doctor-intro {
    flex-direction: column-reverse;
  }
  .doctor-stats,
  .doctor-img {
    width: 100%;
  }
  .doctor-info {
    padding: 40px;
    &__name {
      font-size: 1.5em;
    }
  }
  .doctor-features,
  .doctor-services {
    flex-direction: column;
    &__item {
      width: 100%;
    }
  }
}
