extends ../../includes/page/page

block content
  .doctor
    section.doctor-intro
      .doctor-stats
        .doctor-stats__workload
          h3.doctor-stats__heading Загруженность
          .workload-meter
            .workload-meter__item
            .workload-meter__item
            .workload-meter__item
            .workload-meter__item.empty
            .workload-meter__item.empty

        .doctor-stats__success
          h3.doctor-stats__heading Проведено операций:
          .doctor-stats__success-figure 567

        a.button.doctor__btn(href="#modal-appointments" data-modal-open) Записаться на прием

      .doctor-img(style="background-image: url('../../img/doctor.jpg')")

      .doctor-info
        h1.doctor-info__name Константин Константинович Константинопольский
        .doctor-info__block
          h3.doctor-info__heading Заголовок:
          p #{misc.paragraph}
        .doctor-info__block
          h3.doctor-info__heading Заголовок:
          p #{misc.paragraph}
        .doctor-info__block
          h3.doctor-info__heading Заголовок:
          p #{misc.paragraph}
        .doctor-info__block
          h3.doctor-info__heading Заголовок:
          p #{misc.paragraph}
    section.doctor-features
      .doctor-features__item
        p #{misc.sentence}
      .doctor-features__item
        p #{misc.sentence}
      .doctor-features__item
        p #{misc.sentence}
    section.doctor-description
      .content-centered
        include ../../includes/article/article
    section.doctor-services
      .doctor-services__item.doctor-services__intro
        h2.heading.doctor-services__heading Услуги врача
        a.button.doctor__btn(href="#modal-callback" data-modal-open) Перезвоните мне
      ul.doctor-services__item.doctor-services__list
        li.doctor-services__list-item
          a(href="") УЗИ
        li.doctor-services__list-item
          a(href="") Маммология
        li.doctor-services__list-item
          a(href="") Гинекология
        li.doctor-services__list-item
          a(href="") Ведение беременности
    include ../../includes/section-reviews/section-reviews