extends ../../includes/page/page
  
block content
  section.spread.bg_pink
    .spread__half
      .spread__text-block.spread__text-block_sb
        h2.heading Услуга
        p #{misc.paragraph}
        a(href="#modal-callback" data-modal-open).button.button_border_light Узнать больше 
    .spread__half
      .spread__text-block
        div
          h3.subheading #{misc.word}
          p #{misc.paragraph}
        div
          h3.subheading #{misc.word}
          p #{misc.paragraph}
        div
          h3.subheading #{misc.word}
          p #{misc.paragraph}
  include ../../includes/price-list/price-list
  +price-list('Стоимость услуг', prices)
  section.interior.bg_pink
    include ../../includes/slider/slider
    +slider('interior-slider-container', 'interior-slider', 'interior-slider-nav', 'Интерьеры клиник')
      .img-container
        img(src='../../img/placeholder.jpg')
  include ../../includes/section-reviews/section-reviews
  .bg_pink
    include ../../includes/choose-clinic/choose-clinic
  include ../../includes/choose-doctor/choose-doctor
  .bg_pink
    include ../../includes/section-links/section-links
  .content-centered
    include ../../includes/article/article


