extends includes/index-page/index-page
  
block content
  h1.heading.heading_main Платная женская консультация
  .index-slider-container
    .owl-carousel.owl-theme.slider.index-slider
      .index-slide lorem
      .index-slide ipsum
      .index-slide sit
      .index-slide doloret
    .index-slider-nav
    .index-slider-dots
    a(href="#services").index-slider-keep-scrolling
      .message Листай дальше
      .arrows
        .arrow.arrow_1
        .arrow.arrow_2
        .arrow.arrow_3
  section.services#services
    include includes/mosaic-grid/mosaic-grid
  section.rules.features-container.container-flex.container-flex_center
    include includes/features/features
  section.spread.bg_pink
    .spread__half
      .spread__text-block.spread__text-block_sb
        h2.heading #{misc.word}
        div
          a(href="").button.button_default_light #{misc.word}
          a(href="").button.button_border_light #{misc.word}          
    .spread__half
      .spread__text-block
        div
          h3.subheading #{misc.word}
          p #{misc.paragraph}
        div
          h3.subheading #{misc.word}
          p #{misc.paragraph}
        div
          h3.subheading #{misc.word}
          p #{misc.paragraph}


  section.spread.bg_blue
    .spread__half
      .spread__text-block.spread__text-block_sb
        h2.heading #{misc.word}
        div
          a(href="").button.button_default_light #{misc.word}
          a(href="").button.button_border_light #{misc.word}          
    .spread__half
      .spread__text-block.spread__text-block_sa
          div
            p #{misc.paragraph}
            p #{misc.paragraph}
            p #{misc.paragraph}

  section.spread.bg_green
    .spread__half
      .spread__text-block.spread__text-block_sa
        h2.heading #{misc.word}
        input.input_search(placeholder="Placeholder")
        div
          a.button.button_default_light #{misc.word}
          a.button.button_border_light #{misc.word}

    .spread__half
      .spread__text-block
        div
          p #{misc.sentence}
          p #{misc.sentence}
          p #{misc.sentence}
        p.standout-text #{misc.paragraph}
        a.button.button_all-width.button_border_light #{misc.word}
  
  section.map-all-width
    include includes/map/map
  
  section.spread.bg_gray
    .spread__half
      .spread__text-block
        h2.heading #{misc.word}
        div
          h3.subheading #{misc.word}
          p #{misc.sentence} 
          h3.subheading #{misc.word}
          p #{misc.sentence} 
          h3.subheading #{misc.word}
          p #{misc.sentence}
        a.button.button_black(href="/doctors") Познакомиться

    .spread__half
      include includes/slider/slider
      +slider('doctors-previews-container', 'doctors-previews-slider', 'doctors-previews-nav')
        - let i = 0;
        while i < 10
          .preview_col.container-flex.container-flex_col
            - let j = 0
            while j < 3
              include includes/person-preview/person-preview
              - j++
          - i++

  include includes/section-search/section-search
  +section-search('Поиск', 'Введите нечто', 'Найти', '#dbb6d7')