.spread {
  display: flex;
  &__half {
    width: 50%;
    max-width: 50%;
    flex: 1;
    &:last-child {
      background-color: rgba(white, 0.2);
    }
  }
  &__text-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px;
    text-align: center;
    p {
      margin-bottom: 30px;
    }

    &_sb {
      justify-content: space-between;
    }

    &_sa {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 650px) {
  .spread {
    flex-direction: column;
    &__half {
      width: 100%;
      max-width: 100%;
    }
  }
}