.price-list-item {
  &__separate {
    padding: 30px;
  }
  &__title {
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid $brand-purple;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid $brand-purple;
  }
  &__link {
    color: $brand-blue;
    &_standout {
      color: $brand-pink;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    margin-left: 15px;
    span {
      margin-left: 3px;
    }
  }
  &__price-old {
    text-decoration: line-through;
  }
}