mixin price(item)
  span.price-list-item__price
    span.price-list-item__price-current= item.price
    span.price-list-item__price-old= item.priceOld
    span.price-list-item__currency ₽

mixin price-list-item(service, showTitle = true, className)
  article.price-list-item(class=`${className}`)
    if service.title && showTitle
      h3.price-list-item__title= service.title
    ul.price-list-item__list
      each item in service.items
        li.price-list-item__list-item
          if item.standout
            a(href=`${item.link}`).price-list-item__link.price-list-item__link_standout= item.title
            +price(item)
          else
            a(href=`${item.link}`).price-list-item__link= item.title
            +price(item)

