.breadcrumbs
  .content-centered
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href='/').breadcrumbs__link Главная
      li.breadcrumbs__list-item
        span.breadcrumbs__current Эта страница