.breadcrumbs {
  height: 100px;
  background-color: $brand-gray;
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    text-transform: uppercase;
  }
  &__list-item {
    &:not(:last-child) {
      margin-right: 5px;
      &::after {
        content: '>';
        margin-left: 5px;
      }
    }
  }
  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
  &__current {
    font-weight: 700;
  }
}

@media screen and (max-width: 480px) {
  .breadcrumbs {
    padding: 0 20px;
  }
}